.button {
  font-size: 30px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 15px;
  color: rgb(245, 76, 76);
  background-color: rgb(243, 232, 219);
  border: 1px solid 20px;
  border-color: rgb(19, 14, 14);
}
.stopBtn {
  margin-left: 50px;
}

.button:hover,
.button:focus {
  color: aliceblue;
  background-color: rgb(78, 4, 4);
}
.btnBox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
